body {
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: black;
    color: white;

}

h1 {
    color: red;
}

button {
    background-color: rgb(0, 179, 255);
    font-size: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

button:hover {
    background-color: rgb(0, 117, 167);
}
